@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

.hero-container {
  width: 100%;
  height: 100vh;
  background: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}

.logo {
  width: 9rem;
  position: relative;
  z-index: 2;
}

.hamburger {
  width: 2rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.hamburger:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hamburger.active .line1 {
  transform: rotate(45deg) translate(3px, -1px);
}

.hamburger.active .line3 {
  opacity: 0;
}

.hamburger.active .line2 {
  transform: rotate(-45deg) translate(6px, -5px);
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: white;
  transition: all 0.3s ease-in;
}

.nav-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: black;
  width: 100%;
  left: -900px;
  top: 0;
  z-index: 1;
  height: 100vh;
  gap: 2rem;
  padding: 10rem 1.5rem;
  transition: left 0.3s ease-in-out;
}

.nav-links.show {
  left: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
}

.nav-links a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.hero-heading {
  width: 100%;
  padding: 0 1.5rem;
}

.hero-heading p {
  color: white;
  border: 2px solid white;
  margin: 3rem auto;
  padding: 1rem;
  line-height: 2.4rem;
  font-size: 2rem;
  font-weight: light;
  font-family: "Alata", sans-serif;
}

.leadership-section {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1.5rem;
}

.leadership-img img {
  width: 100%;
}

.leadership-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.leadership-heading {
  font-size: 2rem;
  font-weight: 200;
}

.leadership-text {
  line-height: 1.5rem;
  color: var(--dark-gray);
  padding: 0 2rem;
}

.creation-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.creation-heading {
  font-size: 2rem;
  font-weight: 200;
}

.creation-img {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.creation-img-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creation-img-container div {
  position: absolute;
  top: 0;
  font-size: 2rem;
  left: 0;
  color: white;
  font-weight: 300;
  z-index: 2;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 0.7rem;
}

.creation-img-container img {
  width: 100%;
}

.seeall-btn {
  border: 2px solid black;
  background: none;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  letter-spacing: 0.5rem;
}

.seeall-btn:hover {
  background-color: black;
  color: white;
}

footer {
  width: 100%;
  background-color: black;
}

.footer-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-nav-links a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.socials img:hover,
.footer-nav-links a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.footer-socials p {
  color: var(--dark-gray);
  font-size: 1.2rem;
}

.desktop-nav {
  display: none;
}

.leadership-img-desktop {
  display: none;
}

.leadership-box {
  display: none;
}

.creation-img-desktop {
  display: none;
}

@media screen and (min-width: 850px) {
  .mobile-nav {
    display: none;
  }

  .hero-container {
    background: url(./images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;
  }

  .desktop-nav {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    align-items: center;
  }

  .desktop-nav-links {
    display: flex;
    gap: 1rem;
  }

  .desktop-nav-links a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-weight: 500;
  }

  .desktop-nav-links a:hover {
    opacity: 0.9;
    text-decoration: underline;
  }

  .hero-heading {
    max-width: 1024px;
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
  }

  .creation-section {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  .creation-img-mobile {
    display: none;
  }

  .creation-img-desktop {
    display: block;
  }

  .creation-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .creation-img-container div {
    bottom: 0;
    justify-content: end;
    padding: 1rem 0;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 2rem 1rem;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
  }

  .footer-nav-links {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }
}
